body{
    text-align: center;
    font-family: Courier;
    color: teal;
    background-color: blanchedalmond;
}

#cabecera{
    background: coral;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#cabecera #logoCabecera{
    width: 50px;
    padding: 0 0 0 1em;

}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
    
}

#footer{
    text-align: center;
    background-color: lightcoral;
}

#container{
    background-color: aliceblue;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid teal;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}